eleven_ten_mean.pt
my_attention_pattern.pt
ten_seven_mean.pt
__pycache__*
*.ipynb
!**/callum2/**/*.ipynb
*settings.json
# **/callum2/**/*.pkl
# **/callum2/**/*.json
transformer_lens/rs/arthurs_notebooks/cspa_with_projection.py
cspa_results_q_projection_on_cpu.pt
cspa_results_q_projection_on_cpu_again_seed_6.pt
cspa_results_q_projection_on_cpu_again_seed_6_big_stashed.pt
dir.pt
cspa_results_q_projection_on_cpu_again_seed_6_big_but_suffix.pt
**/wandb/**